html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.Toggled{ 
transform: scale(1,1);
}

@media (min-width: 200px) {
	html{
		font-size:13px;
	}
}
@media (min-width: 600px) {
	html{
		font-size:16px;
	}
}

#navbar{
	transition: opacity 500ms ease-in-out;
}
@-webkit-keyframes fadeInUp {
	from {
	  opacity: 0;
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
